.alert {
  padding: 8px 10px;
  margin: 12px 0px;
  font-weight: bold;
  border-radius: 10px;
  width: 80%;
}

.alert.error {
  color: white;
  background-color: rgba(244, 96, 91, 0.676);
}

.alert.danger {
  color: white;
  background-color: orange;
}

.alert.success {
  color: white;
  background-color: rgb(65, 166, 65);
}
