
[class*="heading"] {
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    color: #09f;
    margin: 5rem 0;
}


.primary__button {
    margin-top: 5rem;
    margin-bottom: 3rem;
    background-color: #09f;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
}

.primary__button:hover {
    background-color: rgb(3, 131, 216);
}


.secondary__button {
    background-color: #09f;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
}

.secondary__button:hover {
    background-color: rgb(3, 131, 216);
}


.normal__button {
    background-color: #09f;
    color: #fff;
    border: none;
    padding: 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.normal__button:hover {
    background-color: rgb(3, 131, 216);
}

.table__buttons-delete {
    background: rgb(231, 67, 67);
    color:#fff;
    border: none;
    padding: 1.5rem;
    cursor: pointer;
    transition:  all 0.5s;
    border-radius: 0.50rem;
    text-align: center;
}
.table__buttons-delete:hover {
    background: rgb(223, 36, 36);

}

.table__buttons-edit  {
    background: rgb(83, 155, 226);
    color:#fff;
    border: none;
    padding: 1.5rem;
    cursor: pointer;
    transition:  all 0.5s;
    border-radius: 0.50rem;
    text-align: center;
    display: flex;
}

.table__buttons-edit:hover {
    background: rgb(46, 125, 203);
}

.table__butons-icon {
  text-align: center;

}

.table__buttons-view  {
    background: rgb(142, 142, 142);
    color:#fff;
    border: none;
    padding: 1.5rem;
    cursor: pointer;
    transition:  all 0.5s;
    border-radius: 0.50rem;
    text-align: center;
    display: flex;
}

.table__buttons-borrowed_book  {
    background: #09f;
    color:#fff;
    border: none;
    padding: 1.5rem;
    cursor: pointer;
    transition:  all 0.5s;
    border-radius: 0.50rem;
    text-align: center;
    display: flex;
}

.table__buttons-return-book  {
    background: #fec030;
    color:#fff;
    border: none;
    padding: 1.5rem;
    cursor: pointer;
    transition:  all 0.5s;
    border-radius: 0.50rem;
    text-align: center;
    display: flex;
}

.titulos {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
    color: #09f;
}

.center-loader {
    text-align: center;
  }